body{
  background-color: #82B1FF;
}
div{
color: #A3B4C0;
font-family: 'Roboto', sans-serif;

}

#home{
  height: 60vh;
  width: 100vw;
  margin-left: -8px;
  margin-top: -8px;
  background-color: #1976D2;
  z-index: -1
}

.arrow-down_1 {
  width: 0;
  height: 0;
  margin-left: 36.6666666666666666vw;
  border-left: 40px solid transparent ;
  border-right: 40px solid  transparent;
  border-top: 40px solid #334960;
}
#exp{
  height: 80vh;
  border-radius: 25px;
  width: 80vw;
  margin-left: 110px;
  margin-top: 30px;
  background-color: #303F9F;
}
#contact{
  height: 80vh;
  width: 80vw;
  margin-left: 110px;
  background-color: #512DA8;
  border-radius: 25px;
  margin-top: 30px;
}
#block{
  position: relative;
  display: inline-block;
  width : calc(70vw/3);
}
#block ul{
  margin: 0;
    position: absolute;
    width: 25vw;
    display: inline-block;
    margin-top: 65%;
    margin-left: 40px;
}
